.createPostContainer {
  width: 80%;
  margin: 3rem 4rem;
}

h2 {
  margin-bottom: 1rem;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  padding: 0.5rem;
  border-radius: 10px solid #5a5656;
}

button {
  width: 11rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 20px;
  background: rgb(213, 213, 245);
  font-size: 1.2rem;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #b993d6 0%,
    #8ca6db 51%,
    #b993d6 100%
  );
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
}

textarea {
  height: 6rem;
}

.textarea {
  width: 18rem;
}

.postBtn {
  width: 8rem;
  height: 3rem;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.likeCount {
  margin-top: 1rem;
}

.likeBtn {
  border: none;
  width: 2rem;
  height: 2rem;
}

.likeForm {
  width: 9rem;
  display: flex;
  flex-direction: row;
}
