* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(232, 231, 231);
  background: floralwhite;
}

#clerk-components {
  margin: 0;
  padding: 0;
}

.signIn {
  width: 25rem;
  padding: 5rem;
}

.header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(3, 3, 91, 0.9234287464985994) 28%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 0 0 20rem 0;
}

.signIn {
  color: #f0f8ff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.cl-internal-hegiim {
  display: none;
}
