.main {
  width: 100%;
}

.hero {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.postContainer {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.itemContainer {
  width: 33rem;
  background: transparent;
}

.eachItem {
  margin-top: 1rem;
}

.modalContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
